/********* General Styling  *********/

body {
  font-family: "Frutiger-Roman";
  margin: 0;
  background-color: #fff6e6;
  color: #52473f;
}
@font-face {
  font-family: "Frutiger-Roman";
  src: url("./fonts/FrutigerLTStd-Roman.otf") format("woff2");
} 

@font-face { 
  font-family: "Frutiger-Bold";
  src: url("./fonts/FrutigerLTStd-Bold.otf") format("woff2");
}

@font-face {
  font-family: "Frutiger-Light";
  src: url("./fonts/FrutigerLTStd-Light.otf") format("woff2");
}

/********* Nav Styling  *********/
nav {
  color: #53463f;
}


#top-nav-div,
#bottom-nav-div {
  display: flex;
  width: 100%;
}

#top-nav-div {
  flex-direction: row;
  justify-content: flex-end;
}

#top-nav-div p{
margin-bottom: 0;
font-size: 1.2em;
}

#phone-number-div {
  margin-right: 10vw;
  margin-left: 5vw;
}

#logo-div {
  width: 30%;
  margin-left: 10%;
  margin-right: 20%;
  display: flex;
  align-items: center;
}

#logo-img {
  width: 20vh;
}
#nav-right-div {
  display: flex;
  width: 30%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#nav-right-div a, .menu-options-div a{
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  font-family: "Frutiger-Bold";
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

/********* Homepage Gallery Styling  *********/
#gallery-div {
  /* margin-top: 5vh; */
  min-height: 63vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
.slider {
  width: 80vw;
}
.slider-images {
  height: 500px;
  width: 100%;
}

/********* Menu Pages Styling  *********/
#brunch-hero-img {
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}

#brunch-menu-div {
  margin-bottom: 5vw;
}

.menu-description-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-options-div {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 3vw 10vw 0vw 12vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.menu-blurb-div p{
  margin-left: 5vw;
  margin-right: 10vw;
  font-family: "Frutiger-Roman";
  font-size: 1.2em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
}

.dish-category-h2 {
  margin-left: 12vw;
  font-family: 'FrutigerBold';
  font-size: 1.8em;
  color: #e87427;
}
.menu-items-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-menu-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15vw;
  margin-right: 5vw;
}
.right-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
}

.menu-item h3 {
  font-family: 'Frutiger-Roman';
  font-size: 1.2em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.menu-items-right-div {
  margin-right: 10vw;
}

.menu-items-left-div p {
  margin: 0 5vw 2vw 15vw;
  font-family: 'Frutiger-Light';
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: var(--greyish-brown);
}

.menu-items-right-div p {
  margin: 0 5vw 2vw 5vw;
  font-family: 'Frutiger-Light';
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: var(--greyish-brown);
}
/********* Bottom-Footer Styling  *********/
#bottom-homepage-div {
  background-color: #52473f;
  color: #f8f7f7;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bottom-homepage-div h2{
  font-family: "Frutiger-Bold";
  font-size: 1.8em;
  color: #e87427;
  margin-top: 5vh;
}

.bigger-p {
  font-family: "Frutiger-Bold";
  font-size: 1.4em;
}

.smaller-p {
  font-size: 1.1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
}

#delivery-info-div {
  margin-bottom: 10vh;
}

#seamless-link,
#delivery-link,
#grubhub-link,
#eat24-link {
  color: #45e6df;
  text-decoration: none;
}


#bottom-left-div {
  margin-left: 10vw;
  margin-right: 5vw;
}

#bottom-right-div {
  margin-left: 5vw;
  margin-right: 10vw;
}

#bottom-right-div p {
  display: block;
}

#hours-h2,
#brunch-h2 {
  margin-bottom: 1vh;
}

#copyright-info {
  font-size: 0.7em;
  margin-bottom: 10vh;
}


/* ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff6e6;
  width: 1440px;
  height: 140px;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: #53463f;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  width: 115px;
  height: 42px;
  margin-top: 20px;
}

ul.topnav li a:hover:not(.active) {
  background-color: white;
}

ul.topnav li a.active ul.topnav li.right {
  float: right;
}

.topnav a {
  margin-right: 50px;
  margin-left: 50px;
}

a.logo {
  margin-right: 375px;
  padding-right: 70px;
}

.bottom-left-headline {
  font-family: "FrutigerLTStd-Bold";
  
  
} */

.bottom-left-headline {
  font-family: 'Frutiger-Bold';
  font-size: 36px;
  color: #ffffff;
  position: absolute;
  bottom: 116px;
  left: 60px;
}


.bottom-left-text{
  font-family: 'Frutiger-Bold';
  font-size: 26px;
  text-decoration: none;
  color: #45e6df;
  position: absolute;
  bottom: 77px;
  left: 60px;
}
#gallery-top-image {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
#left-gallery-top {
  margin-top: 80px;
  margin-left: 60px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 260px 260px;
  grid-template-rows: 260px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}
#right-gallery-top {
  margin-left: 60px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 260px 260px;
  grid-template-rows: 260px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}
.small-gallery-images-top {
  height: 260px;
  width: 260px;
  cursor: pointer;
  transition: 0.3s;
}

.small-gallery-images-top:hover {
  opacity: 0.7;
}
.small-gallery-images-top-right {
  height: 260px;
  width: 260px;
  cursor: pointer;
  transition: 0.3s;
}

.small-gallery-images-top-right:hover {
  opacity: 0.7;
}

.large-gallery-image-left {
  margin-left: 60px;
  margin-bottom: 80px;
  height: 600px;
  width: 600px;
  cursor: pointer;
  transition: 0.3s;
}
.large-gallery-image-left:hover {
  opacity: 0.7;
}
.large-gallery-image-right {
  margin-left: 60px;
  margin-bottom: 80px;
  height: 600px;
  width: 600px;
  cursor: pointer;
  transition: 0.3s;
}
.large-gallery-image-right:hover {
  opacity: 0.7;
}

#left-gallery-bottom {
  margin-left: 60px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 260px 260px;
  grid-template-rows: 260px 260px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}
#right-gallery-bottom {
  margin-left: 60px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 260px 260px;
  grid-template-rows: 260px 260px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}
.small-gallery-images-bottom {
  height: 260px;
  width: 260px;
  cursor: pointer;
  transition: 0.3s;
}
.small-gallery-images-bottom:hover {
  opacity: 0.7;
}

#gallery {
  display: flex;
  flex-direction: row;
}
#gallery-text {
  font-family: "FrutigerLTStd";
  width: 600px;
  height:120px;
  font-size: 24px;
  margin-left: 120px;
  margin-top: 40px;
}